.az-img-box{
  width: 250px;
  height: 150px;
  max-width: 100%;
  margin-bottom: 5px;
  border: 1px solid #fff;
  display: inline-block;
  overflow: hidden;
  img{
  	width: 250px;
    height: 150px;
    max-width: 100%;
  	border: none !important;
  	margin-bottom: 0px !important;
  	transition: all .5s ease-in-out;
  }
  img:hover{
  	transform: scale(1.1, 1.1);
  }
}

// .fogged{
//   padding-top: 20px;
//   padding-bottom: 20px;
// }

.mainbag{
	height: unset !important;
}

.az-orange{
	width: 250px;
  height: 150px;
  background: #F4A731;
  font-size: 28px;
  padding-top: 10px;
  span{
  	display: block;
  	font-size: 28px;
  	strong{
  		text-transform: uppercase;
  		font-weight: normal;
  	}
  }
}

.design-fourth--fourthtitle{
	a{
	  display: inline-block;
	  padding: 8px;
	  border: 3px dashed #3f312c;
	  border-radius: 15px;
	  color: #3f312c;
	}
	a:hover{
		text-decoration: none;
	}
	a:active{
		text-decoration: none;
	}
	a:focus{
		text-decoration: none;
	}
}

.design-fourth--subtitle2{
	
}

.az-file{
	display: none;
}

.az-file2{
	font-size: 16px;
	height: 40px;
	margin-bottom: 20px;
	border-radius: 15px;
	background: #fff;
	display: block;
	text-transform: uppercase;
	font-family: "Myriad Pro", sans-serif;
	line-height: 40px;
	text-align: left;
	padding: 0 20px;
	cursor: pointer;
}

.az-textarea{
	font-size: 16px;
	height: 60px;
	margin-bottom: 20px;
	// border-radius: 15px;
	background: #fff;
	display: block;
	// text-transform: uppercase;
	font-family: "Myriad Pro", sans-serif;
	// line-height: 40px;
	resize: none;
}

.az-sended{
	font-size:30px;
	font-weight:700;
	// display:none;
	text-align:center;
	text-transform:uppercase;
	color:#3f312c;
	span{
		font-size:25px;
		display:block;
	}
}

.az-manege{
	padding-right:15px;
	padding-left:15px;
	border:2px dashed #3f312c;
	border-radius:15px;
}