.no-gutter {
  padding-right: 0;
  padding-left: 0; }

.advantages--title {
  color: #000 !important;
  margin-bottom: 20px !important; }

.advantages {
  height: none !important;
  min-height: 137px !important; }

.advantages-container {
  height: auto !important; }

.my-advantages {
  margin-top: 60px !important; }

.ah-mydiv {
  margin-top: 12%; }

.ah-btnlink {
  width: 30%; }

.ah-btnred {
  line-height: 42px !important; }

.ah-fogged {
  margin-top: 70px !important; }

.ancient-second--title {
  padding: 20px 0px !important; }

.ah-btn-red {
  margin-top: 40px !important;
  margin-bottom: 15px !important; }

.ancient-offer--title {
  color: #000 !important;
  padding: 10px 0px !important; }

.ancient-offer--subtitle {
  margin-top: 20px;
  margin-bottom: 40px; }

.ancient-offer {
  height: auto !important; }

.ancient-offer--descr {
  margin-bottom: 10px !important;
  text-align: left; }

.ah-linkmen {
  color: #3f312c !important;
  text-decoration: none !important; }

.ah-linkmen {
  text-decoration: none !important; }

.home-six--title {
  top: 0px !important; }

.weoffer {
  margin-right: 50px !important; }
  .weoffer ul {
    margin-bottom: 30px !important; }
    .weoffer ul li {
      color: #000 !important; }
  .weoffer .btn {
    margin-top: 20px !important;
    margin-bottom: 30px !important; }

.weoffer--subtitle {
  padding-right: 0px !important;
  padding-left: 0px !important;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 30px !important;
  text-align: left;
  color: #000 !important; }

.weoffer--title {
  color: #000 !important; }

.fogged {
  padding-top: 60px;
  padding-bottom: 60px; }

.home-five--title {
  margin-bottom: 50px !important; }

.home-five--thirdtitle {
  margin-top: 50px !important;
  padding-bottom: 70px !important; }

.home-five--description {
  margin-top: 20px !important;
  color: #000 !important;
  width: 80%;
  line-height: 32px !important;
  margin-bottom: 50px !important; }

.form-container form {
  margin-right: 25px !important;
  margin-left: 25px !important; }
  .form-container form input[type="text"] {
    padding: 0px 20px;
    text-transform: uppercase; }

.home-seven--fourthtitle {
  padding-bottom: 15px !important; }

.home-seven--description {
  margin-top: 15px !important;
  margin-bottom: 50px !important; }

.ah-imgbox, .common-form {
  display: inline-block; }

.vs-center-wrap:after {
  bottom: none !important;
  top: 17% !important;
  left: 51% !important; }

.ah-bufer {
  height: 122px; }

.btn {
  width: 100% !important; }

.ancient-offer {
  margin-top: 120px; }

.ah-red-form {
  margin-bottom: 250px; }
  .ah-red-form input[type="text"] {
    padding: 0px 20px !important;
    text-transform: uppercase; }

.home-second {
  padding-top: 160px !important; }

.home-second--title {
  top: 0px !important; }

.home-fourth {
  padding-top: 10%; }

.home-fourth--subtitle {
  padding: 20px 0px !important; }

.home-fourth--title, .home-six--title {
  padding: 20px 0px !important; }

.home-six .fogged {
  margin: 0 auto !important;
  margin-bottom: 60px !important;
  height: 693px; }

.arrow-top:before {
  bottom: -47px !important;
  border-left: 631px solid transparent !important;
  border-right: 681px solid transparent !important;
  border-top: 40px solid #c74127 !important; }

.advantages-container {
  margin-top: 60px;
  margin-bottom: 40px; }

.home-eight--thirdtitle {
  display: inline-block;
  border-top: 2px solid #000;
  padding-top: 15px;
  margin-bottom: 40px !important; }

.btn {
  width: 386px; }

.home-eight--description {
  margin-top: 50px !important; }

.home-eight--fourthtitle {
  margin-top: 50px !important; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .home-third--title, .home-five--title {
    font-size: 50px !important; }

  .home-fourth--subtitle {
    font-size: 50px !important;
    width: 60% !important; }

  .advantages {
    width: 100% !important; }

  .fogged {
    padding: 0px !important; } }
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */

/*# sourceMappingURL=style.css.map */
